
.cardFront{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;


}

.cardBack{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
 
} 

.card{
  font-family: Arial, Helvetica, sans-serif;
  height: 220px;
  width: 300px;
  background:lavender;
  border-radius: 0px;
  border:2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}